# Ignore build artifacts from the local tests sub-crate.
/target/
/contracts/target/
contracts/psp22/target
contracts/staking/target
/contract_implementations/target

# Ignore backup files creates by cargo fmt.
**/*.rs.bk

# Remove Cargo.lock when creating an executable, leave it for libraries
# More information here http://doc.crates.io/guide.html#cargotoml-vs-cargolock
Cargo.lock
/contracts/Cargo.lock
/contract_implementations/Cargo.lock
